# +----------------------------------------------------------------------------+
# |                                                                            |
# | This file is part of the Qunity package.                                   |
# |                                                                            |
# | Copyright (c) Rodion Kachkin <kyleRQWS@gmail.com>                          |
# |                                                                            |
# | For the full copyright and license information, please view the LICENSE    |
# | file that was distributed with this source code.                           |
# |                                                                            |
# +----------------------------------------------------------------------------+

# Docker images|containers prefix
COMPOSE_PROJECT_NAME=<qunity>

# Project settings
PROJECT_USER=<user>
PROJECT_HOST=<qunity.loc>
PROJECT_PORT=<8080>
PROJECT_MODE=<production|development>
